body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
}
/*Global*/

.container{
	width:80%;
	margin:auto;
	overflow:hidden;

}
ul{
	margin:0;
	padding:0;

}

.btn1{
	height: 38px;
	background: #f48235;
	border:0;
	padding-right: 20px;
	padding-left: 20px;
	color:white;
	border
}

.dark{
	padding: 10px;
	background:#35424a;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
	opacity: 0.9;
	border: 1px solid;
    padding: 20px;
    box-shadow: 5px 5px #888888;

}
/* Header*/

header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px; 
	border-bottom: #f48235 5px solid;

}

header a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #logo{
	float:left;
}

header #logo h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color: #f48235;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Showcase*/

#showcase{
	min-height: 400px;
	background:url('../img/showcase.jpeg') no-repeat 0 00px;
	text-align: center;
	color:white;


}


#showcase h1{
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;
}

#newsletter{
	padding:15px;
	color:white;
	background: #35424a
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float:right;
	margin-top: 15px;
}

#newsletter input[type = "email"]{
	padding: 4px;
	height: 25px;
	width : 250px;
	height: 35px;


}


/*Boxes*/

#boxes{
	margin-top:20px;


}

#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:10px;
}
#boxes .box img{
	width:90px;
}


/* Sidebar*/

aside#sidebar{
	float:right;
	width: 30%;
	margin-top: 10px;

}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}

/* Main-col*/

article#main-col{
	float: left;
	width: 65%;
}

footer{
	padding:20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #f48235;
}


/* Services Ul*/

ul#services li{
	list-style: none;
	padding: 20px;
	border:#cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

#list{
	padding-bottom: 10px;
	text-align: center;
	float:center;
}





